@page "/FlightsStatistic"
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject IWebHostEnvironment Environment
@inject MainViewModel mvm
@inject FlightsStatisticsViewModel fsvm
@using ParagliderFlightLog.ViewModels
<PageTitle>Flights statistic</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-4">
            <strong>Analyze</strong>
            <RadzenDropDown TValue="StatisticalFlightsAnalysis" AllowFiltering="false" Data=@Enum.GetValues(typeof(StatisticalFlightsAnalysis)) @bind-Value=AnalysisToDo
                            Class="w-100">
                <Template>
                    @(GetAnalyseName(context))
                </Template>
            </RadzenDropDown>

            <strong>Year to analyze</strong>
            <RadzenDropDown AllowFiltering="false" Data=@mvm.YearsOfFlying @bind-Value=@YearToAnalyse
                            Class="w-100" />
            <RadzenButton Click=@(args => OnAnalyze()) Text="Analyze" ButtonStyle="ButtonStyle.Primary" />

        </div>
        <div class="col-4">
            <div class="row"><strong>Flights count:</strong> @fsvm.FlightsCount</div>
            <div class="row"><strong>Flights total duration:</strong> @fsvm.FlightsDurationText</div>


        </div>
        <div class="col-4">
            <div class="row"><strong>Flights mean duration:</strong>@fsvm.MeanFlightsDurationText</div>
            <div class="row"><strong>Flights median duration:</strong>@fsvm.MedianFlightDurationText</div>
        </div>
    </div>
    <div class="row-cols-auto">
        <RadzenChart style="height: 750px">
            @if (AnalysisToDo == StatisticalFlightsAnalysis.DurationDistribution)
            {
                <RadzenColumnSeries Data="@DurationAnalysisResult"
                                Title="Flight duration repartition"
                                CategoryProperty="BarLocation"
                                ValueProperty="BarValue" />
            }
            @if (AnalysisToDo == StatisticalFlightsAnalysis.MontlyMedian)
            {
                int i = 0;
                foreach (YearMonthlyStatistic item in MonthlyMedianAnalysisResult)
                {
                    <RadzenColumnSeries Data="@item.MonthlyMedianItems"
                                Title="@mvm.YearsOfFlying[i].ToString()"
                                CategoryProperty="Month"
                                ValueProperty="BarValue" />
                    i++;
                }
            }
            @if (AnalysisToDo == StatisticalFlightsAnalysis.MonthlyFlightDuration)
            {
                int i = 0;
                foreach (YearMonthlyStatistic item in MonthlyDurationAnalysisResult)
                {
                    <RadzenColumnSeries Data="@item.MonthlyMedianItems"
                                Title="@mvm.YearsOfFlying[i].ToString()"
                                CategoryProperty="Month"
                                ValueProperty="BarValue" />
                    i++;
                }
            }
        </RadzenChart>
    </div>
</div>


