@page "/FlightsStatistic"
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@using BlazorUI.Components
@inject IWebHostEnvironment Environment
@inject MainViewModel mvm
@inject FlightsStatisticsViewModel fsvm
@using ParagliderFlightLog.ViewModels
<PageTitle>Flights statistic</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-4">
            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenFormField Text="Analyze" Variant="@variant">
                    <RadzenDropDown TValue="StatisticalFlightsAnalysis" AllowFiltering="false" Data=@Enum.GetValues(typeof(StatisticalFlightsAnalysis)) @bind-Value=AnalysisToDo
                                    Class="w-100">
                        <Template>
                            @(GetAnalyseName(context))
                        </Template>
                    </RadzenDropDown>
                </RadzenFormField>
                <RadzenFormField Text="Year to analyze" Variant="@variant">
                    <RadzenDropDown AllowFiltering="false" Data=@mvm.YearsOfFlying @bind-Value=@YearToAnalyse
                                    Class="w-100" />
                </RadzenFormField>
                <RadzenButton Click=@(args => OnAnalyze()) Text="Analyze" ButtonStyle="ButtonStyle.Primary" />
            </RadzenStack>
        </div>
        <div class="col-4">
            <MyNumericIndicator Label="Flight Count" Value="@fsvm.FlightsCount" Format="F0" />
            <MyTextIndicator Label="Flights total duration" Text="@fsvm.FlightsDurationText" />
        </div>
        <div class="col-4">
            <MyTextIndicator Label="Flights mean duration" Text="@fsvm.MeanFlightsDurationText" />
            <MyTextIndicator Label="Flights median duration" Text="@fsvm.MedianFlightDurationText" />
        </div>
    </div>
    <div class="row-cols-auto">
        <RadzenChart style="height: 750px">
            @if (AnalysisToDo == StatisticalFlightsAnalysis.DurationDistribution)
            {
                <RadzenColumnSeries Data="@DurationAnalysisResult"
                                    Title="Flight duration repartition"
                                    CategoryProperty="BarLocation"
                                    ValueProperty="BarValue" />
            }
            @if (AnalysisToDo == StatisticalFlightsAnalysis.MontlyMedian)
            {
                int i = 0;
                foreach (YearMonthlyStatistic item in MonthlyMedianAnalysisResult)
                {
                    <RadzenColumnSeries Data="@item.MonthlyMedianItems"
                                        Title="@mvm.YearsOfFlying[i].ToString()"
                                        CategoryProperty="Month"
                                        ValueProperty="BarValue" />
                    i++;
                }
            }
            @if (AnalysisToDo == StatisticalFlightsAnalysis.MonthlyFlightDuration)
            {
                int i = 0;
                foreach (YearMonthlyStatistic item in MonthlyDurationAnalysisResult)
                {
                    <RadzenColumnSeries Data="@item.MonthlyMedianItems"
                                        Title="@mvm.YearsOfFlying[i].ToString()"
                                        CategoryProperty="Month"
                                        ValueProperty="BarValue" />
                    i++;
                }
            }
        </RadzenChart>
    </div>
</div>


