@page "/"
@inject ContextMenuService ContextMenuService
@inject DialogService DialogService
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject IWebHostEnvironment Environment
@inject MainViewModel mvm
@inject ILogger<Index> _logger
@using ParagliderFlightLog.ViewModels
<PageTitle>Flight list</PageTitle>

<div class="container">
	<div class="row">
		<div class="col-8">
			<InputFile OnChange="@OnAddFlights" multiple />
			<RadzenDataGrid @ref="dataGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="20"
							AllowSorting="true" Data="@mvm.FlightListViewModel" TItem="FlightViewModel"
							SelectionMode="DataGridSelectionMode.Single" @bind-Value=@SelectedFlights
							ContextMenu=@(args => ShowContextMenuWithItems(args))>
				<Columns>
					<RadzenDataGridColumn TItem="FlightViewModel" Property="TakeOffDateTime" Title="Date/Time" Width="150px" SortOrder="SortOrder.Descending" />
					<RadzenDataGridColumn TItem="FlightViewModel" Property="TakeOffSiteName" Title="Site" />
					<RadzenDataGridColumn TItem="FlightViewModel" Property="FlightDuration" Title="Duration" />
				</Columns>
			</RadzenDataGrid>
		</div>
		@if (LastSelectedFlight != null)
		{
			<div class="col-4">
				<div class="row">
					<strong>Glider:</strong> @LastSelectedFlight.GliderName
				</div>
				<div class="row">
					<strong>Max height [m]:</strong> @LastSelectedFlight.MaxHeight
				</div>
				<div class="row">
					<strong>Trace length [km]:</strong> @LastSelectedFlight.TraceLength
				</div>
				<div class="row">
					<strong>Max climb (8s) [m/s]:</strong> @LastSelectedFlight.MaxClimb
				</div>
				<div class="row">
					<strong>Max sink (8s) [m/s]:</strong> @LastSelectedFlight.MaxSink
				</div>
				<div class="row">
					<strong>Comment:</strong> @LastSelectedFlight.Comment
				</div>
			</div>
		}

	</div>
</div>


