@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<RadzenHeader style="position: static" class="cloud-header-svg">
    @* position: static because otherwise the header goes over the content*@
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="3">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)" />
                <RadzenLink Path="/" Text="Go to index page">
                    <RadzenButton Text="Paraglider Flight Log" ButtonStyle="ButtonStyle.Light" Variant="Variant.Text" />
                </RadzenLink>
            </RadzenStack>
        </RadzenColumn>


        <AuthorizeView>
            <Authorized>
                <RadzenColumn Size="3" Offset="6">
                    <RadzenStack Gap="0" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Orientation="Orientation.Horizontal">
                        <div style="padding-right:1rem">
                            Hello,
                            <MyMaxSizeTextDisplay Value="@context.User.Identity!.Name" MaxChar="15" />
                        </div>
                    </RadzenStack>
                </RadzenColumn>

            </Authorized>
        </AuthorizeView>
    </RadzenRow>
</RadzenHeader>

<RadzenSidebar Responsive="false" @bind-Expanded="@_sidebarExpanded" style="position: absolute">
    <RadzenPanelMenu Click="@((x) => _sidebarExpanded = string.IsNullOrEmpty(x.Path))">
        <AuthorizeView>
            <Authorized>
                <RadzenPanelMenuItem Text="Flights List" Icon="menu_book" Path="FlightsList"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Sites List" Icon="place" Path="SitesList"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Flights Statistic" Icon="analytics">
                    <RadzenPanelMenuItem Text="Duration Distribution" Icon="avg_time" Path="Statistics/DurationDistributions" />
                    <RadzenPanelMenuItem Text="Cumulated Duration" Icon="ssid_chart" Path="Statistics/MonthlyCumulatedDuration" />
                    <RadzenPanelMenuItem Text="Monthly Duration" Icon="bar_chart_4_bars" Path="Statistics/MonthlyDuration" />
                    <RadzenPanelMenuItem Text="Monthly Median" Icon="bar_chart" Path="Statistics/MonthlyMedian" />
                    <RadzenPanelMenuItem Text="Xc Score" Icon="sports_score" Path="Statistics/XcScoreOverTheYears" />
                    <RadzenPanelMenuItem Text="Flight Objective" Icon="pie_chart" Path="Statistics/ObjectiveSynthesis" />
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Glider" Icon="paragliding" Path="Gliderslist"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Import from LogFly" Icon="input" Path="ImportLogFlyDb"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Settings" Icon="settings" Path="Settings"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Manage Account" Icon="account_circle" Path="/Account/Manage"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Logout" Icon="logout" Click="@LogoutAsync"></RadzenPanelMenuItem>
            </Authorized>
            <NotAuthorized>
                <RadzenPanelMenuItem Text="Register" Icon="input" Path="Account/Register"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Login" Icon="input" Path="Account/Login"></RadzenPanelMenuItem>

            </NotAuthorized>
        </AuthorizeView>

    </RadzenPanelMenu>
</RadzenSidebar>

<form @ref="_logoutForm" action="Account/Logout" method="post" style="display: none;">
    <AntiforgeryToken />
    <input type="hidden" name="returnUrl" value="" />
</form>

@code {
    bool _sidebarExpanded = false;
    private ElementReference _logoutForm;

    private async Task LogoutAsync()
    {
        await JSRuntime.InvokeVoidAsync("eval", $"document.querySelector('form[action=\"Account/Logout\"]').submit()");
    }
}