@using System
@using System.IO
@using ParaglidingFlightLogWeb.Components.Subs
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@using ParaglidingFlightLogWeb.ViewModels
@using static System.Runtime.InteropServices.JavaScript.JSType

@page "/FlightsList"
@page "/FlightsList/{FlightId}"
@rendermode InteractiveServer
@attribute [Authorize]
<PageTitle>Flight list</PageTitle>
<RadzenRow>
    <RadzenColumn Size="12" SizeSM="8" Style="overflow: auto;">
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenUpload Icon="add_circle"
                          ChooseText="Add new flight"
                          Multiple="true"
                          Progress=@(args => OnFlightUploadProgress(args))
                          Accept="@ALLOWED_FILE_EXTENSION"
                          Change="OnAddFlights"
                          MaxFileCount="MAX_FILE_COUNT"
            />
            <RadzenProgressBar Value=@_flightUploadProgress class="rz-mt-6" Visible=@_showFlightUploadProgress/>
        </RadzenStack>


        <RadzenDataGrid @ref="_dataGrid" AllowFiltering="true"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        AllowPaging="false"
                        AllowVirtualization="true"
                        style="height: calc(100vh - 180px);"
                        AllowSorting="true" Data="@Mvm.FlightListViewModel" TItem="FlightViewModel"
                        SelectionMode="DataGridSelectionMode.Single" @bind-Value=@SelectedFlights
                        ContextMenu=@(args => ShowContextMenuWithItems(args))>
            <Columns>
                <RadzenDataGridColumn MinWidth="200px" TItem="FlightViewModel" Property="TakeOffDateTime"
                                      Title="Date/Time" Width="150px" SortOrder="SortOrder.Descending"/>
                <RadzenDataGridColumn MinWidth="200px" TItem="FlightViewModel" Property="TakeOffSiteName"
                                      Title="Site" Width="200px"/>
                <RadzenDataGridColumn MinWidth="150px" TItem="FlightViewModel" Property="FlightDuration"
                                      Title="Duration" Width="150px"/>
            </Columns>
        </RadzenDataGrid>

    </RadzenColumn>

    <RadzenColumn Size="12" SizeSM="4">
        <RadzenCard class="rz-h-100">
            @if (LastSelectedFlight != null)
            {
                <RadzenRow>
                    <RadzenColumn>
                        <MyTextIndicator Label="Glider" Text="@LastSelectedFlight.GliderName"/>
                        <MyPhysicalValueIndicator Label="Max Height" Value="@LastSelectedFlight.MaxAltitude"
                                                  UnitSymbol="m" Format="F0"/>
                        <MyPhysicalValueIndicator Label="Trace Length" Value="@LastSelectedFlight.TraceLength"
                                                  UnitSymbol="km" Format="F2"/>
                        <MyPhysicalValueIndicator Label="Max Climb (8s)" Value="@LastSelectedFlight.MaxClimb"
                                                  UnitSymbol="m/s" Format="F1"/>
                        <MyPhysicalValueIndicator Label="Max Sink (8s)" Value="@LastSelectedFlight.MaxSink"
                                                  UnitSymbol="m/s" Format="F1"/>
                    </RadzenColumn>
                    <RadzenColumn>
                        <RadzenStack Orientation="Orientation.Vertical">
                            <RadzenButton Icon="share" Click="OpenShareFlight" Text="Share"/>
                            <RadzenUpload Icon="add_photo_alternate"
                                          ChooseText="Add photos"
                                          Multiple="true"
                                          Progress=@(args => OnPhotosProgress(args))
                                          Accept="@PHOTO_EXTENSION"
                                          Change="AddPhotos"
                                          MaxFileCount="MAX_FILE_COUNT"
                                          Visible="@(LastSelectedFlight.FlightPoints.Count > 0)"/>
                            <RadzenProgressBar Value=@_flightUploadProgress class="rz-mt-6"
                                               Visible=@_showFlightUploadProgress/>
                        </RadzenStack>
                        @if (LastSelectedFlight.XcScore is not null)
                        {
                            <MyNumericIndicator Label="Score" Value="@LastSelectedFlight.XcScore.Points"/>
                            <MyTextIndicator Label="Type of flight" Text="@LastSelectedFlight.XcScore.Type"/>
                        }
                    </RadzenColumn>
                </RadzenRow>
                <RadzenCarousel ButtonStyle="ButtonStyle.Dark" PagerOverlay="false" Auto="false" class="rz-w-100 rz-h-auto">
                    <Items>

                        <RadzenCarouselItem>
                            <MyTextIndicator Label="Comment" Text="@LastSelectedFlight.Comment" Bold=false
                                             Style="max-height: 500px; overflow-y:auto;"/>
                        </RadzenCarouselItem>
                        @if (LastSelectedFlight.FlightPoints.Count > 0)
                        {
                            <RadzenCarouselItem>
                                <ShowFlightOnMap FlightPoints="@LastSelectedFlight.FlightPoints"
                                                 TakeOffDateTime="@LastSelectedFlight.TakeOffDateTime"
                                                 FlightDuration="@LastSelectedFlight.FlightDuration"
                                                 XcScore="@LastSelectedFlight.XcScore"
                                                 Id="@LastSelectedFlight.FlightID"
                                                 Height="500"/>
                            </RadzenCarouselItem>
                        }
                        @foreach (var photo in LastSelectedFlight.GetFlightPhotos())
                        {
                            <RadzenCarouselItem>
                                <RadzenImage
                                    Path="@($"data:image/jpeg;base64,{GetBase64StringPhotoData(photo)}")"
                                    AlternateText="A photo of flight uploaded by the user"
                                    Style="max-height: 500px; overflow-y:auto;"
                                />
                            </RadzenCarouselItem>
                        }

                    </Items>
                </RadzenCarousel>
            }
            else
            {
                <p>Please select a flight</p>
            }
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>




