@using System
@using System.IO
@using ParaglidingFlightLogWeb.Components.Subs
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@using ParaglidingFlightLogWeb.ViewModels
@using static System.Runtime.InteropServices.JavaScript.JSType

@page "/FlightsList"
@page "/FlightsList/{FlightId}"
@rendermode InteractiveServer
@attribute [Authorize]
<PageTitle>Flight list</PageTitle>
<InputFile OnChange="@OnAddFlights" multiple accept=".igc" />

@if (Mvm.FlightListViewModel.Count > 0)
{
    <RadzenRow>
        <RadzenColumn Size="12" SizeSM="8" Style="overflow: auto;">
            <RadzenDataGrid @ref="dataGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowPaging="false"
                            AllowVirtualization="true"
                            style="height: calc(100vh - 180px);"
                            AllowSorting="true" Data="@Mvm.FlightListViewModel" TItem="FlightViewModel"
                            SelectionMode="DataGridSelectionMode.Single" @bind-Value=@SelectedFlights
                            ContextMenu=@(args => ShowContextMenuWithItems(args))>
                <Columns>
                    <RadzenDataGridColumn MinWidth="200px" TItem="FlightViewModel" Property="TakeOffDateTime" Title="Date/Time" Width="150px" SortOrder="SortOrder.Descending" />
                    <RadzenDataGridColumn MinWidth="200px" TItem="FlightViewModel" Property="TakeOffSiteName" Title="Site" Width="200px"/>
                    <RadzenDataGridColumn MinWidth="150px" TItem="FlightViewModel" Property="FlightDuration" Title="Duration" Width="150px" />
                </Columns>
            </RadzenDataGrid>

        </RadzenColumn>

        <RadzenColumn Size="12" SizeSM="4">
            <RadzenCard>
                @if (LastSelectedFlight != null)
                {
                    <RadzenRow>
                        <RadzenColumn>
                            <RadzenButton Click="OnShowMapClick" Icon="map" Text="Show Flight On Map" Visible="@(LastSelectedFlight.FlightPoints.Count>0)"/>
                            <MyTextIndicator Label="Glider" Text="@LastSelectedFlight.GliderName" />
                            <MyPhysicalValueIndicator Label="Max Height" Value="@LastSelectedFlight.MaxAltitude" UnitSymbol="m" Format="F0" />
                            <MyPhysicalValueIndicator Label="Trace Length" Value="@LastSelectedFlight.TraceLength" UnitSymbol="km" Format="F2" />
                            <MyPhysicalValueIndicator Label="Max Climb (8s)" Value="@LastSelectedFlight.MaxClimb" UnitSymbol="m/s" Format="F1" />
                            <MyPhysicalValueIndicator Label="Max Sink (8s)" Value="@LastSelectedFlight.MaxSink" UnitSymbol="m/s" Format="F1" />
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenButton Click="ComputeFlightScore" Icon="calculate" Text="Calculate Score" Visible="@(LastSelectedFlight.FlightPoints.Count>0)"/>
                            @if (LastSelectedFlight.XcScore is not null)
                            {
                                <MyNumericIndicator Label="Score" Value="@LastSelectedFlight.XcScore.Points" />
                                <MyTextIndicator Label="Type of flight" Text="@LastSelectedFlight.XcScore.Type" />
                            }
                        </RadzenColumn>
                </RadzenRow>
                    <MyTextIndicator Label="Comment" Text="@LastSelectedFlight.Comment" Bold=false />
                }
                else
                {
                    <p>Please select a flight</p>
                }
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>
}
else
{
    <p>...loading ...</p>
}




