@page "/"
@inject ContextMenuService ContextMenuService
@inject DialogService DialogService
@using System
@using System.IO
@using ParaglidingFlightLogWeb.Components.Subs
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject IWebHostEnvironment Environment
@inject ILogger<Index> _logger
@using ParaglidingFlightLogWeb.ViewModels


@rendermode InteractiveServer

<PageTitle>Paraglider Flight Log</PageTitle>
<HeadContent>
    <meta name="description" content="Paraglider Flight Log is a comprehensive web application designed for paragliding enthusiasts to log, analyze, and share their flight experiences. Track your flights by importing IGC files, view detailed statistics"/>
    <meta name="keywords" content="paragliding, flight log, IGC files, flight statistics"/>
    <meta property="og:image" content="/paraglidingLogBackground1200x630.jpg"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
</HeadContent>
<RadzenText TextStyle="TextStyle.H3" Text="Welcome on the Paraglider Flight Log" />

<AuthorizeView>
    <Authorized>
        <RadzenRow AlignItems="AlignItems.Stretch">
            <RadzenColumn SizeLG="6">
                <RadzenRow>
                   <RadzenColumn>
                        <RadzenCard class="rz-overflow-auto" Style="margin-bottom: 15px;">
                            <RadzenText TextStyle="TextStyle.H4" Text="Interesting facts" />

                            <RadzenRow>
                                <RadzenColumn SizeMD="6">
                                    <MyNumericIndicator Format="F0" Label="Number of sites during the last year" Value="@FlightStatisticService.LastYearSiteCount" />
                                </RadzenColumn>
                                <RadzenColumn SizeMD="6">
                                    <MyTextIndicator Label="Glider with the oldest last check" Text="@($"{FlightStatisticService.OldestCheckUsedGlider?.FullName} ({FlightStatisticService.OldestCheckUsedGlider?.LastCheckDateTime.ToString("d")} with {FlightStatisticService.OldestCheckUsedGlider?.FlightTimeSinceLastCheck} flight hours)")" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenCard>
                   </RadzenColumn>
               </RadzenRow>
                <RadzenRow>
                <RadzenColumn SizeMD="6" >
                    <RadzenCard class="rz-overflow-auto">
                            <RadzenText TextStyle="TextStyle.H4" Text="Flights of the year" />
                            <div><RadzenIcon Icon="sports_score" />Best Score</div>
                            @if (_thisYearTopScorers is not null)
                            {
                                <ol>
                                    @foreach (var f in _thisYearTopScorers)
                                    {
                                        string path = $"/FlightsList/{f.FlightID}";
                                        <li><RadzenLink class="rz.overflow-auto rz-text-nowrap" Icon="pageview" Path="@path" Text=@($"{f.TakeOffSite} with a {f.XcScore?.Points:N2} points {f.XcScore?.Type}") /></li>
                                    }
                                </ol>
                            }
                            else
                            {
                                <p>Loading...</p>
                            }
                            <div><RadzenIcon Icon="timer" />Longest Flight</div>
                            @if (_thisYearLongestFlights is not null)
                            {
                                <ol>
                                    @foreach (var f in _thisYearLongestFlights)
                                    {
                                        string path = $"/FlightsList/{f.FlightID}";
                                        <li><RadzenLink class="rz.overflow-auto rz-text-nowrap" Icon="pageview" Path="@path" Text=@($"{f.TakeOffSite} with a {f.XcScore?.Points:N2} points {f.XcScore?.Type}") /></li>
                                    }
                                </ol>
                            }
                            else
                            {
                                <p>Loading...</p>
                            }
                        </RadzenCard>
                    </RadzenColumn>
                    <RadzenColumn SizeMD="6"> 
                        <RadzenCard class="rz-overflow-auto">
                            <RadzenText TextStyle="TextStyle.H4" Text="Flights of your life" />
                            <div><RadzenIcon Icon="sports_score" />Best Score</div>
                            @if (_topScorers is not null)
                            {
                                <ol>
                                    @foreach (var f in _topScorers)
                                    {
                                        string path = $"/FlightsList/{f.FlightID}";
                                        <li><RadzenLink class="rz.overflow-auto rz-text-nowrap" Icon="pageview" Path="@path" Text=@($"{f.TakeOffSite} with a {f.XcScore?.Points:N2} points {f.XcScore?.Type}") /></li>
                                    }
                                </ol>
                            }
                            else
                            {
                                <p>Loading...</p>
                            }
                            <div><RadzenIcon Icon="timer" />Longest Flight</div>
                            @if (_longestFlights is not null)
                            {
                                <ol>
                                    @foreach (var f in _longestFlights)
                                    {
                                        string path = $"/FlightsList/{f.FlightID}";
                                        <li><RadzenLink class="rz.overflow-auto rz-text-nowrap" Icon="pageview" Path="@path" Text=@($"{f.TakeOffSite} with a {f.XcScore?.Points:N2} points {f.XcScore?.Type}") /></li>
                                    }
                                </ol>
                            }
                            else
                            {
                                <p>Loading...</p>
                            }
                        </RadzenCard>
                    </RadzenColumn>

                </RadzenRow>
                <RadzenRow>
                    <RadzenColumn>
                        <RadzenCard class="rz-overflow-auto" Style="margin-top: 15px;">
                            <RadzenText TextStyle="TextStyle.H4" Text="Long Time No See" />
                            @if (_sitesToReturnTo is not null)
                            {
                                <ol>
                                    @foreach (var s in _sitesToReturnTo)
                                    {
                                        string path = $"/SitesList/{s.Site_ID}";
                                        <li><RadzenLink Icon="pageview" Path="@path" Text=@($"{s.Name} in {s.Country}") /></li>
                                    }
                                </ol>
                            }
                            else
                            {
                                <p>Loading...</p>
                            }
                        </RadzenCard>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenColumn>
            <RadzenColumn SizeLG="6">
                <RadzenCard class="rz-overflow-auto" >
                    <RadzenText TextStyle="TextStyle.H4" Text="Trigger some memories" />
                    <FlightDetails Flight="_flightToRemember" CoreService="CoreService"/>
                </RadzenCard>
            </RadzenColumn>
        </RadzenRow>
    </Authorized>
    <NotAuthorized>
        <RadzenText TextStyle="TextStyle.Body1">
            You are currently not log in please <RadzenLink Path="/Account/Login">log in</RadzenLink>
        </RadzenText>
    </NotAuthorized>
</AuthorizeView>

