@page "/"
@inject ContextMenuService ContextMenuService
@inject DialogService DialogService
@using System
@using System.IO
@using ParaglidingFlightLogWeb.Components.Subs
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject IWebHostEnvironment Environment
@inject ILogger<Index> _logger
@using ParaglidingFlightLogWeb.ViewModels


@rendermode InteractiveServer

<PageTitle>Paraglidier Flight Log</PageTitle>

<RadzenText TextStyle="TextStyle.H3" Text="Welcome on the Paraglider Flight Log" />

<AuthorizeView>
    <Authorized>
        <RadzenRow AlignItems="AlignItems.Stretch">
            <RadzenColumn SizeSM="6">
                <RadzenRow>
                   <RadzenColumn>
                        <RadzenCard Style="margin-bottom: 15px;min-height: 200px ; height: calc(100vh - 750px);overflow-y:auto;">
                            <RadzenText TextStyle="TextStyle.H4" Text="Interesting facts" />

                            <RadzenRow>
                                <RadzenColumn>
                                    <MyNumericIndicator Format="F0" Label="Number of sites during the last year" Value="@FlightStatisticService.LastYearSiteCount" />
                                </RadzenColumn>
                                <RadzenColumn>
                                    <MyTextIndicator Label="Glider with the oldest last check" Text="@($"{FlightStatisticService.OldestCheckUsedGlider?.FullName} ({FlightStatisticService.OldestCheckUsedGlider?.LastCheckDateTime.ToString("d")} with {FlightStatisticService.OldestCheckUsedGlider?.FlightTimeSinceLastCheck} flight hours)")" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenCard>
                   </RadzenColumn>
               </RadzenRow>
                <RadzenRow>
                <RadzenColumn SizeSM="6" >
                        <RadzenCard Style="min-height: 400px ;height: calc(100vh - 600px);overflow-y:auto;">
                            <RadzenText TextStyle="TextStyle.H4" Text="Flights of the year" />
                            <div><RadzenIcon Icon="sports_score" />Best Score</div>
                            @if (_thisYearTopScorers is not null)
                            {
                                <ol>
                                    @foreach (var f in _thisYearTopScorers)
                                    {
                                        string path = $"/FlightsList/{f.FlightID}";
                                        <li><RadzenLink Icon="pageview" Path="@path" Text=@($"{f.TakeOffSite} with a {f.XcScore?.Points:N2} points {f.XcScore?.Type}") /></li>
                                    }
                                </ol>
                            }
                            else
                            {
                                <p>Loading...</p>
                            }
                            <div><RadzenIcon Icon="timer" />Longest Flight</div>
                            @if (_thisYearLongestFlights is not null)
                            {
                                <ol>
                                    @foreach (var f in _thisYearLongestFlights)
                                    {
                                        string path = $"/FlightsList/{f.FlightID}";
                                        <li><RadzenLink Icon="pageview" Path="@path" Text=@($"{f.TakeOffSite} with a {f.XcScore?.Points:N2} points {f.XcScore?.Type}") /></li>
                                    }
                                </ol>
                            }
                            else
                            {
                                <p>Loading...</p>
                            }
                        </RadzenCard>
                    </RadzenColumn>
                    <RadzenColumn SizeSM="6"> 
                        <RadzenCard Style="min-height: 400px ;height: calc(100vh - 600px);overflow-y:auto;">
                            <RadzenText TextStyle="TextStyle.H4" Text="Flights of your life" />
                            <div><RadzenIcon Icon="sports_score" />Best Score</div>
                            @if (_topScorers is not null)
                            {
                                <ol>
                                    @foreach (var f in _topScorers)
                                    {
                                        string path = $"/FlightsList/{f.FlightID}";
                                        <li><RadzenLink Icon="pageview" Path="@path" Text=@($"{f.TakeOffSite} with a {f.XcScore?.Points:N2} points {f.XcScore?.Type}") /></li>
                                    }
                                </ol>
                            }
                            else
                            {
                                <p>Loading...</p>
                            }
                            <div><RadzenIcon Icon="timer" />Longest Flight</div>
                            @if (_longestFlights is not null)
                            {
                                <ol>
                                    @foreach (var f in _longestFlights)
                                    {
                                        string path = $"/FlightsList/{f.FlightID}";
                                        <li><RadzenLink Icon="pageview" Path="@path" Text=@($"{f.TakeOffSite} with a {f.XcScore?.Points:N2} points {f.XcScore?.Type}") /></li>
                                    }
                                </ol>
                            }
                            else
                            {
                                <p>Loading...</p>
                            }
                        </RadzenCard>
                    </RadzenColumn>

                </RadzenRow>
                <RadzenRow>
                    <RadzenColumn>
                        <RadzenCard Style="min-height: 200px ;margin-top: 15px;height: calc(100vh - 750px);overflow-y:auto;">
                            <RadzenText TextStyle="TextStyle.H4" Text="Long Time No See" />
                            @if (_sitesToReturnTo is not null)
                            {
                                <ol>
                                    @foreach (var s in _sitesToReturnTo)
                                    {
                                        string path = $"/SitesList/{s.Site_ID}";
                                        <li><RadzenLink Icon="pageview" Path="@path" Text=@($"{s.Name} in {s.Country}") /></li>
                                    }
                                </ol>
                            }
                            else
                            {
                                <p>Loading...</p>
                            }
                        </RadzenCard>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenColumn>
            <RadzenColumn SizeSM="6">
                <RadzenCard Style="min-height: 830px ;height: calc(100vh - 200px);">
                    <RadzenText TextStyle="TextStyle.H4" Text="Trigger some memories" />
                    @if (_flightToRemember is not null)
                    {
                        <RadzenRow>
                            <RadzenColumn>
                                <MyTextIndicator Label="Flight date" Text="@_flightToRemember.TakeOffDateTime.ToString("d")" />
                            </RadzenColumn>
                            <RadzenColumn>
                                <MyTextIndicator Label="Site" Text="@_flightToRemember.TakeOffSiteName" />
                            </RadzenColumn>
                            <RadzenColumn>
                                <MyTextIndicator Label="Glider" Text="@_flightToRemember.GliderName" />
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenRow>
                            <RadzenColumn>
                                <MyPhysicalValueIndicator Label="Max Height" Value="@_flightToRemember.MaxAltitude" UnitSymbol="m" Format="F0" />
                                <MyPhysicalValueIndicator Label="Trace Length" Value="@_flightToRemember.TraceLength" UnitSymbol="km" Format="F2" />
                                <MyPhysicalValueIndicator Label="Max Climb (8s)" Value="@_flightToRemember.MaxClimb" UnitSymbol="m/s" Format="F1" />
                                <MyPhysicalValueIndicator Label="Max Sink (8s)" Value="@_flightToRemember.MaxSink" UnitSymbol="m/s" Format="F1" />
                            </RadzenColumn>
                            <RadzenColumn>
                                @if (_flightToRemember.XcScore is not null)
                                {
                                    <MyNumericIndicator Label="Score" Value="@_flightToRemember.XcScore.Points" />
                                    <MyTextIndicator Label="Type of flight" Text="@_flightToRemember.XcScore.Type" />
                                }
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenRow>
                            <RadzenColumn SizeSM="6">
                                <MyTextIndicator Label="Comment" Text="@_flightToRemember.Comment" Bold=false Style="min-height:480px; overflow-y:auto;height: calc(100vh - 550px);"/>
                            </RadzenColumn>
                            <RadzenColumn SizeSM="6">
                                @if (_flightToRemember.FlightPoints.Count > 0)
                                {
                                    <ShowFlightOnMap FlightToShow="@_flightToRemember" Height="480" />
                                }

                            </RadzenColumn>
                        </RadzenRow>
                    }
                    else
                    {
                        <p>Loading...</p>
                    }
                </RadzenCard>
            </RadzenColumn>
        </RadzenRow>
    </Authorized>
    <NotAuthorized>
        <RadzenText TextStyle="TextStyle.Body1">
            You are currently not log in please <RadzenLink Path="/Account/Login">log in</RadzenLink>
        </RadzenText>
    </NotAuthorized>
</AuthorizeView>

